@import '../../styles/colors.scss';

.hidden-field {
  display: none;
}

.email-sms-form-container {
  background-color: $black;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: $white;
}

.email-sms-form-title {
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}

.email-sms-form-content-container {
  width: 80%;
}

.email-sms-form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-sms-form-input-text {
  display: flex;
  flex-direction: column;
  color: $white;
  margin: 0 0 20px 0;
  font-size: 1.2em;
  width: 100%;
}

.email-sms-form-input-field {
  margin-top: 15px;
  background: transparent;
  border: solid 1px $orange;
  border-radius: 25px;
  padding: 10px 0 10px 10px;
  color: $white;
  &::placeholder {
    color: $white;
  }

  &:focus {
    outline: none;
    border: solid 1px $white;
  }
}

.email-sms-form-button {
  padding: 10px 50px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  align-self: center;
  margin: 50px auto 10px;
  font-size: 0.875rem;
  transition: all 0.15s ease-in-out;
  color: $black;
  background-color: $orange;
}

.email-sms-input-fields-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.email-sms-form-link-container {
  padding-top: 30px;
}

.email-sms-form-link {
  color: $white;
  font-size: 1em;
  display: block;
  text-align: center;
  padding: 10px 0 20px 0;

  :visited {
    color: $white;
  }
}