@import '../../../styles/colors.scss';

.chat-user-input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $background-gray;
}

.chat-user-input-content {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.chat-user-input-text-field {
  border: 1px solid $black;
  border-radius: 15px;
  margin: 0 5px;
  padding: 10px;
  min-width: 60%;
  max-width: 80%;
}

.icon-btn {
  background: transparent;
  border: none;
}

.send-image-attachment-button {
  width: 1.7em;
  height: 1.7em;
  background-image: url('../../../assets/image-light.svg');
  background-repeat: no-repeat;
  border: none;
  align-self: center;
}

.send-image-attachment-button:active {
  width: 1.8em;
  height: 1.8em;
}

.send-voice-attachment-button {
  width: 1.7em;
  height: 1.7em;
  background-repeat: no-repeat;
  background-image: url('../../../assets/microphone-light-inactive.svg');
  border: none;
  align-self: center;
  margin-right: -2px;
}

.send-message-button {
  height: 1.8em;
  width: 2em;
  background-color: #f59023;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0px 12px;
  border: 0;
}
