@import '../../../styles/colors.scss';

.chat-user-input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  background-color: $background-gray;
  @media screen and (min-width: 960px) {
    max-width: 960px;
  }
}

.chat-user-input-content {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chat-user-input-text-field {
  border: 1px solid $black;
  border-radius: 15px;
  margin: 0 5px;
  padding: 10px;
  min-width: 60%;
  flex-grow: 2;
  @media screen and (min-width: 960px) {
    max-width: 80%;
  }
  @media screen and (max-width: 360px) {
    max-width: 50%;
  }
}

.icon-btn {
  background: transparent;
  border: none;
  margin-right: 7px;
  padding: 0;
  @media screen and (min-width: 360px) {
    margin-right: 7px;
  }
  @media screen and (min-width: 660px) {
    margin-right: 15px;
  }
  @media screen and (min-width: 960px) {
    margin-right: 20px;
  }
}

.send-image-attachment-button {
  width: 1.7em;
  height: 1.7em;
  background-image: url('../../../assets/image-light.svg');
  background-repeat: no-repeat;
  border: none;
  align-self: center;
}

.send-image-attachment-button:active {
  width: 1.8em;
  height: 1.8em;
}

.send-voice-attachment-button {
  width: 1.7em;
  height: 1.7em;
  background-repeat: no-repeat;
  background-image: url('../../../assets/microphone-light.svg');
  background-position: center;
  border: none;
  align-self: center;
}

.send-message-button {
  height: 2em;
  width: 2em;
  background-color: #f59023;
  background-image: url('../../../assets/send-message-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 0;
  &:hover {
    cursor: pointer;
  }
  @media screen and (min-width: 360px) {
    margin-right: 5px;
  }
  @media screen and (min-width: 960px) {
    margin-right: 20px;
  }
}

.userinput-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
