.pos-absolute {
    position: absolute;
  }

.chat-messages-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: top;
    top: 15em;
    left: 0;
    width: 100%;
    height: 50%;
    overflow-y: auto;
    margin: 0 auto;
}