.add-user-show-age-container {
  margin: 10px;
  flex-direction: column;
}

.add-user-show-age-text {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  width: 100%;
}

.add-user-show-age-value {
  font-weight: normal;
  text-transform: none;
}
