@import '../../styles/colors.scss';

.interests-grid-edit-item {
  display: flex;
  flex-flow: column nowrap;
  & i {
    background: white;
    border: 1px solid black;
    color: $orange;
    font-size: 32px;
    padding: 15px 11px;
    border-radius: 50%;
    margin: 5px;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.interests-grid-item-selected {
  & i {
    background: black;
    color: $orange;
  }
}

.interests-grid-label {
  align-self: center;
  text-transform: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}

.interests-grid-edit-button {
  border: none;
  background: none;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: $gray;
  letter-spacing: -0.2px;
  border-radius: 0px;
  width: 33%;
  display: flex;
  margin: 0 0 10px 0;
  align-items: center;
}

.interests-icon-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

.interests-modal-text {
  margin-top: 40px;
}
