@import '../../../styles/colors.scss';

.registration-title {
  color: $orange;
  margin: 20px 0;
}

.registration-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
