@import '../../styles/colors.scss';

.direct-chat-header-name {
  max-width: 45vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inactive-userinput-field {
  height: 10%;
  width: 100%;
  background-color: $background-gray;
  position: fixed;
  bottom: 0;
  padding: 5px 10px;
  p {
    margin: 8px 0;
    font-size: 17px;
  }
  @media screen and (min-width: 360px) {
    p {
      margin-top: 15px;
      font-size: 18px;
    }
  }
  @media screen and (min-width: 960px) {
    max-width: 960px;
    p {
      margin-top: 30px;
    }
  }
}

.report-message-buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  button {
    width: 110px;
    padding: 0px 10px;
    margin: 5px;
  }
}
