.report-message-buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  button {
    width: 110px;
    padding: 0px 10px;
    margin: 5px;
  }
}
