@import '../../styles/colors.scss';

.profile-container {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.profile-header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: $background-gray;
  width: 100%;
  padding: 0;
}

.profile-header-item {
  margin: 10px;
  display: inline-block;
  white-space: nowrap;
  flex-grow: 1;
}

.profile-modal-header {
  font-size: 24px;
  font-weight: 500;
  color: $darkblue;
  font-weight: normal;
  padding: 0 1rem;
}

.profile-modal-header-button {
  background: none;
  border: none;
  text-transform: none;
  font-weight: normal;
  align-self: flex-start;
  font-size: 18px;
}

.profile-modal-button {
  padding: 10px 40px;
  background-color: $orange;
  border: none;
  font-size: 13px;
}

.interests-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
}

.profile-dm-button {
  padding: 10px 15px;
  align-self: center;
}

.edit-me-link {
  align-self: flex-start;
  margin-block-start: 1em;
}

.go-back-button-container {
  text-align: left;
  background: $background-gray;
  padding-top: 20px;
}

.start-conversation-button {
  text-align: center;
  padding-top: 30px;
}
