@import '../../../styles/colors.scss';

.interests-header {
  font-size: 22px;
  font-weight: 500;
  color: $darkblue;
  padding: 0 1rem;
}

.interests-button {
  vertical-align: middle;
  font-size: 13px;
  color: $gray;
  padding: 10px 35px;
}

.interests-ready-button {
  background-color: $orange;
  border: none;
  font-size: 13px;
  padding: 15px 50px;
  margin-top: 40px;
}

.interests-text {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 1rem;
}

.interests-grid-wrapper {
  text-align: center;
  padding-bottom: 100px;
}
