.user-edit-button {
    color: #1c1c1c;
    background: none;
    border: none;
    width: 64px;
    height: 46px;
    & i {
        font-size: 22px;
    }
}

.user-edit-button-active {
    background-color: #1c1c1c;
    border-radius: 5px;
    color: white;
    & i {
        font-size: 22px;
    }
}

