@import '../../styles/colors.scss';

.divider {
  border: 0.5px solid $orange;
  margin: 1em 0;
}

.registration-link {
  color: $white;
  font-size: 17px;
}

.registration-link-container {
  margin: 0 auto;
  text-align: center;
}

.resend-verification-link {
  color: $white;
  font-size: 17px;
  text-align: center;
}

.registration-info-content {
  font-size: 16px;
}

.registration-info-list {
  margin: 0 0 0 1em;
  padding: 0;
  letter-spacing: -0.17px;
}

li.registration-info-list {
  text-align: left;
}

.registration-success-container {
  background-color: $black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  font-size: 18px;
  color: #fff;
  padding: 0.2em;
  overflow-y: auto;
  overflow-x: hidden;
}

.registration-success-content-container {
  width: 80%;
}

.registration-success-text {
  color: $orange;
  margin-top: 0;
}

.reminder-content-text {
  padding-top: 1em;
}
