.nav-link {
  width: auto;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border-radius: 0;
  line-height: normal;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-top: 1px solid #f59023;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  height: 64px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-color: #1c1c1c;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  position: relative;
}

.nav-link:active {
  color: #f59023;
}

i {
  font-size: 22px;
  margin-top: 10px;
}
