@import '../../styles/colors.scss';

.button-secondary {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $orange;
  border: solid 1px $orange;
  border-radius: 30px;
    &:hover {
      cursor: pointer;
    }
}

