@import '../../../styles/colors.scss';

.add-user-description-container {
  margin: 10px;
}

.add-user-description-text {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  width: 100%;
  font-weight: 700;
}

.add-user-description-field {
  margin-top: 5px;
  background: transparent;
  border: solid 1px $black;
  padding: 10px 0 10px 10px;
  &::placeholder {
    color: $text-gray;
  }
}

.add-user-description-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-user-description-limit {
  color: $text-medium-gray;
}