.main-container {
  height: 100%;
}

@media screen and (min-width: 960px) {
  .main-container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
}

.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
