@import '../../../styles/colors.scss';

.divider {
  width: 100%;
  height: 1px;
  border: 0.5 solid $orange;
  margin: 1em 0 2em;
}

.email-verification-info-content {
  font-size: 16px;
}

.email-verification-info-list {
  margin: 0 0 0 1em;
  padding: 0;
  letter-spacing: -0.17px;
}

.email-verification-container {
  background-color: $black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: $white;
}

.email-verification-title {
  text-transform: uppercase;
  color: white;
}

.email-verification-content-container {
  width: 80%;
  height: 100%;
}

.email-verification-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reminder-content-text {
  padding-top: 1em;
}

.email-verification-link-container {
  padding-top: 30px;
}

.email-verification-link {
  color: $white;
  font-size: 15px;
  display: block;
  text-align: center;
  padding: 10px 0 20px 0;

  :visited {
    color: $white;
  }
}