@import '../../styles/colors.scss';

.profile-creation-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.profile-creation-title {
    font-family: Poppins;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

.profile-creation-step-text {
    font-family: Lato;
    font-size: 16px;
    letter-spacing: -0.17px;
    color: $text-medium-gray;
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;
}

