.list-block-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

.privacy-policy-icon-btn {
  border-radius: 0;
  border: none;
  background: transparent;
}

.privacy-policy-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.privacy-policy-header {
  margin-top: 0px;
  font-size: 28px;
  text-align: left;
  @media (max-width: 375px){
    font-size: 1.3em;
  }
}

.privacy-policy-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.privacy-policy-modal-button {
  margin: 2em auto;
}
