.description-container {
    padding: 0 0.95rem 300px;
    height: calc(100vh - 80vh);
}

.description-header {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.description-text {
    width: 100%;
}