.description-header {
    font-weight: bold;
    font-size: 13px;
    margin-top: 20px;
    padding: 0 0.75rem;
    text-transform: uppercase;
}

.description-text {
    height: 200px;
    padding: 0 0.75rem;
    width: 291px;
}