.description-container {
  padding: 0 0.95rem 13rem;
  background-image: url(../../../assets/Profiili-aalto-bg.svg);
  background-repeat: no-repeat;
  min-height: 20vh;
  background-size: 100% 40vh;
  & h2 {
    margin-block-start: 0;
    padding-block-start: 0.83em;
  }
}

.description-header {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

.description-text {
  width: 100%;
}
