/* Color palette */

$black: #1c1c1c;
$darkblue: #000c4d;
$white: #ffffff;
$orange: #f59023;
$outlineColor: #E0790B;
$beige: #ffe9d9;
$gray: #3a3a3a;
$background-gray: #f2f2f2;
$text-medium-gray: #6c6c6c;
$maroon: #850a34;
$green: #66b10f;
