/* Text styles */
@import './colors.scss';
@import './normalize.scss';
@import './colors.scss';

html {
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  color: $black;
  font-family: 'Paytone One', sans-serif;
  font-size: 22px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  height: 100%;
  color: $gray;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.1px;
  text-align: center;
  color: $gray;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $beige;
  border: solid 1px $orange;
  border-radius: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

#react-select-2-input {
  font-size: 16px !important;
}

.profile-creation-step-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  color: #6c6c6c;
}
