/* Text styles */
@import './colors.scss';
@import './normalize.scss';
@import './colors.scss';

h1 {
  color: $black;
  font-family: 'Paytone One', sans-serif;
  font-size: 22px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: $gray;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  color: $gray;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.1px;
  text-align: center;
  color: $gray;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $beige;
  border: solid 1px $orange;
  border-radius: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
