/* Text styles */
@import './colors.scss';
@import './normalize.scss';
@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  height: 100vh;
  width: 100%;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.main-title {
  font-size: 42px;
  color: #fff;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  color: $black;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #333333;
}

body {
  font-size: 18px;
  letter-spacing: -0.2px;
  color: $gray;
  width: 100%;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.1px;
  text-align: center;
  color: $gray;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $beige;
  border: solid 1px $orange;
  border-radius: 30px;
  padding: 5px 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

#react-select-2-input {
  font-size: 16px !important;
}

.profile-creation-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.profile-creation-title {
  font-family: Poppins;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}

.profile-creation-step-text {
  font-family: Lato;
  font-size: 16px;
  letter-spacing: -0.17px;
  color: $text-medium-gray;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: block;
}
