@import '../../../styles/colors.scss';

.group-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: stretch;
  text-align: left;
  & p {
    color: $gray;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
}

.group-box-content {
  padding: 15px 15px;
  @media screen and (min-width: 960px) {
    height: 250px;
  }
  @media (max-width: 960px) {
    height: 220px;
  }
  @media (max-width: 360px) {
    font-size: 14px;
    h2 {
      font-size: 18px;
    }
  }
  overflow: scroll;
}

.group-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
  h2 {
    font-size: 1.3rem;
  }
}

.group-interests {
  margin-bottom: 10px;
}

.group-box-unreads {
  border: 1px solid $orange;
}

.groups-num-members {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.group-unreads-text {
  background-color: $orange;
  padding: 10px 0 10px 0;
  color: black;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

.monitor-group-text {
  line-height: 1.3em;
}

.no-unreads {
  font-size: 16px;
  border-top: 1px solid #9a9a9a;
  background-color: white;
  text-transform: none;
  font-weight: normal;
}

.group-logo {
  border-radius: 50%;
  padding: 15px 15px;
  height: 55px;
  width: 55px;
}

.group-current-members {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
