.group-box {
    width: 70vw;
    height: 20vh;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    margin-bottom: 30px;
}