.chat-header-members-sider-member {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.chat-member-nickname {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.members-sider-profile-link {
  text-decoration: none;
  color: #3a3a3a;
}
