.chat-header-members-sider-member {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.members-sider-profile-link {
    text-decoration: none;
    color: #3a3a3a;
}