@import '../../styles/colors.scss';

.account-update-container {
  margin: 30px 35px;
  display: flex;
  flex-direction: column;
}

.account-box-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  button {
    width: 150px;
    height: 40px;
  }
}

.account-box-outer {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding: 2em 0;
  border-bottom: 1px solid black;
}

.account-label-text {
  font-weight: bold;
  font-size: 18px;
}

.account-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  & h1 {
    font-size: 32px;
    color: $orange;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 1.02px;
    flex-grow: 2;
    @media (max-width: 375px) {
      font-size: 28px;
    }
    @media (max-width: 330px) {
      font-size: 25px;
    }
  }
}

.account-delete-button {
  color: red;
}

.account-save-button {
  margin: 5% 0 20%;
  width: 200px;
  height: 42px;
  align-self: center;
    &:hover {
      cursor: grab;
    }
}

.close-edit-btn {
  @media (max-width: 330px) {
    margin: 0 5px 0 7px;
  }
  &:hover {
    cursor: grab;
  }
}

.delete-text {
  color: red;
}

.delete-box {
  margin-bottom: 10px;
}
