.pos-absolute {
    position: absolute !important;
}
  
.prevnext-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    bottom: 8em;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

.nav-button {
    width: auto;
    border-radius: 24.5px;
    border: solid 1px #f5a623;
    background-color: #fff2e7;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    line-height: normal;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0 0.85rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    line-height: 34px;
    height: 42px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

.next-button {
    position: absolute;
    right: 30px;
}

.prev-button {
    position: absolute;
    left: 30px;
}
  
  