.profile-instructions-arrow-down {
  position: absolute;
  bottom: 65px;
  left: 25px;
  height: 35vmax;
  width: 10vmax;
  overflow: visible;
  z-index: 4000;
}

.profile-instructions-arrow-up {
  position: absolute;
  top: 78px;
  right: 25px;
  height: 30vmax;
  width: 10vmax;
  overflow: visible;
  z-index: 4000;
}
