.page-info-text-content {
  white-space: pre-wrap;
  text-align: left;
} 

.page-information-container {
  min-height: 75vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}