.add-user-picture-container {
  margin: 10px;
}

.add-user-picture-picker {
  image-orientation: from-image;
  width: 215px;
  height: 215px;
}

.add-user-topmost-text {
  margin-top: 10px;
}

.add-user-picture-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-user-picture-title-text {
  margin: auto;
}

.add-user-picture-step-text {
  margin-left: auto;
}

.add-user-picture-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p .add-user-picture-content-container {
  text-align: center;
}

.image-preview-container {
  position: relative;
}

.close-preview-button {
  font-size: 1.5em;
  position: absolute;
  top: 5px;
  left: 5px;
}

.rotate-btn {
  font-size: 2em;
  margin: 10px 0;
}

.zoom-control-sign {
  font-size: 1.3em;
  margin: 0 20px;
}

.zoom-controls-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}