.save-profile-button {
  padding: 15px 20px;
  &:hover {
    cursor: grab;
  }
}

.profile-edit-container {
  overflow-y: auto;
}

.edit-profile-modal-text {
  margin-top: 40px;
}

.edit-profile-icon-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}
