.bottom-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 0px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 1000;
  position: absolute;
}
