@import '../../../styles/colors.scss';

.group-suggestion-box {
  padding: 10px;
  @media screen and (min-width: 960px) {
    height: 250px;
  }
  @media (max-width: 960px) {
    height: 300px;
  }
  @media (max-width: 330px) {
    font-size: 14px;
    h2 {
      font-size: 18px;
    }
  }
}

.hidden-box {
  position: absolute;
  height: 250px;
  top: -10px;
  @media screen and (min-width: 960px) {
    height: 250px;
  }
  @media (max-width: 960px) {
    height: 300px;
  }
  @media (max-width: 330px) {
    font-size: 14px;
    h2 {
      font-size: 18px;
    }
  }
}

.suggestion-buttons-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 30px 0;
  button {
    padding: 10px 35px;
  }
}

.suggestion-members-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.suggestion-member {
  margin: 0 10px 0 0;
}

.suggestion-box-info {
  font-size: 18px;
  p {
    margin-block-start: 1em;
  }
}

.group-color-icon {
  height: 45px;
  width: 45px;
  min-width: 45px;
  border-radius: 50%;
  margin-right: 15px;
  @media (max-width: 330px) {
    display: none;
  }
}

.group-in-common {
  margin: 0 0 25px 0;
}

.group-suggestion-info {
  margin-bottom: 40px;
}
