@import '../../../styles/colors.scss';

.suggestions-box {
  box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5),
    3px -27px 0px -13px rgba(255, 255, 255, 1);
  & p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.suggestion-buttons-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.suggestion-button {
  background: none;
  border: none;
  text-decoration: none;
  color: $darkblue;
  border-radius: 0px;
  text-transform: none;
  font-weight: normal;
  padding: 30px 0 10px 0;
  & i {
    padding: 0 10px 0 0;
  }
}

.suggestion-members-wrapper {
  & p {
    font-size: 13px;
    color: $gray;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.suggestion-members-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.suggestion-member {
  margin: 0 10px 0 0;
}

.join {
  & i {
    color: green;
  }
}

.cancel {
  & i {
    color: red;
  }
}
