@import '../../styles/colors.scss';

.friends-wrapper {
  overflow-y: auto;
}

.friends-header {
  text-align: center;
  & h1 {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 1.02px;
  }
}

.friends-boxes {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  @media (max-width: 375px) {
    padding: 0 10px;
  }
}

.friends-tutorial-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.no-friends-yet-header {
  text-align: center;
}

.no-friends-yet-text {
  text-align: center;
  line-height: 1.2em;
  padding: 10px;
}
