@import '../../../styles/colors.scss';

.add-user-nickname-container {
  margin: 10px;
}

.add-user-nickname-text {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  width: 100%;
}

.add-user-nickname-field {
  margin-top: 5px;
  background: transparent;
  border: solid 1px $black;
  padding: 14px 0 14px 14px;
  &::placeholder {
    color: $text-gray;
  }
}

.add-user-nickname-title {
  font-weight: 500;
  margin-top: -10px;
}
