@import '../../../styles/colors.scss';

.step-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 33%;
  min-height: 200px;
  background: url('../../../assets/Profiilin-luonti-aalto.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.next-step-button {
  padding: 10px 30px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.875rem;
  color: white;
  background-color: black;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #f5a623;
  border-radius: 30px;
  text-decoration: none;
}

.next-step-button-inactive {
  padding: 10px 30px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.875rem;
  color: white;
  background-color: #666464;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #f5a623;
  border-radius: 30px;
  text-decoration: none;
}

.skip-button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: $white;
  padding: 10px 0;
  text-decoration: none;
}
