@import '../../../styles/colors.scss';

.step-button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 33%;
  min-height: 80px;
  background: url('../../../assets/Profiilin-luonti-aalto.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.next-step-button {
  padding: 10px 50px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.875rem;
  color: white;
  background-color: black;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #f5a623;
  border-radius: 30px;
  text-decoration: none;
}

.skip-button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: $white;
  padding: 10px 0;
  text-decoration: none;
}
