.registration-info-container {
  height: 40%;
  margin: 5%;
}

.registration-description {
  font-family: Lato;
  font-size: 1.5em;
  text-align: center;
}

.registration-info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:5%;
}

.registration-info-text {
  font-size: 1.2em;
  text-align: center;
}