@import '../../../styles/colors.scss';

.chat-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 2000;
  border-bottom: 1px solid $orange;
}

.chat-header-item {
  width: auto;
  display: flex;
  align-items: center;
  text-align: right;
  margin: 0 10px;
}

.chat-header-nav-back-button {
  background: none;
  border: none;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: $gray;
  text-align: left;
}

.chat-header-channel-name {
  text-align: center;
  font-size: 6vw;
}

.channel-name-button {
  background-color: transparent;
  border: none;
}

.channel-name-link {
  text-decoration: none;
}

.chat-header-group-img-button {
  background-color: $orange;
  border: none;
  border-radius: 50%;
  padding: 12px 12px;
  & i {
    font-size: 30px;
  }
}
