.chat-header-members-sider {
    z-index: 1000;
    height: 90%;
    width: 60%;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.6);
    background-color: white;
    position: absolute;
    top: 10%;
    right: 0;
    padding: 60px 28px;
}

.chat-header-members-sider-title {
    text-transform: uppercase;
    text-align: left;
}

.chat-header-members-sider-members-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.chat-header-current-user-label {
    margin-left: 4px;
}

.chat-header-members-icon {
    color: white;
    text-transform: uppercase;
    padding: 4px 8px;
    margin-right: 10px;
    border-radius: 50%;
}

.sider-darkblue-icon {
    background-color: #000c4d;
}

.sider-orange-icon {
    background-color: #f59023;
}

.sider-maroon-icon {
    background-color: #850a34;
}

.sider-beige-icon {
    background-color: #ffe9d9;
}

.sider-green-icon {
    background-color: #66b10f;
}