.options-button {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 245px;
    height: 46px;
    border-radius: 30px;
    box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.2);
    border: solid 1px #f59023;
    background-color: #1c1c1c;
    margin-top: 20px;
}