.modal-btn {
  background: transparent;
  font-weight: normal;
  border: none;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: orange;
  text-transform: none;
  text-decoration: underline;
  padding-left: 2px;
}