.view-image {
  max-height: 70vh;
}

.view-image-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  height: 100vh;
}

.view-image-go-back-button {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid gray;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 1.2em;
    position: absolute;
    top: -15%;
    right: 2%;
  }