@import '../../styles/colors.scss';

.login-container {
  background-color: $black;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-fields-container {
  width: 80%;
}

.login-input-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input-text {
  display: flex;
  flex-direction: column;
  color: $white;
  margin: 0 0 20px 0;
  width: 100%;
}

.login-input-field {
  margin-top: 5px;
  background: transparent;
  border: solid 1px $orange;
  border-radius: 25px;
  padding: 10px 0 10px 10px;
  color: $white;
  &::placeholder {
    color: $white;
  }

  &:focus {
    outline: none;
    border: solid 1px $white;
  }
}

.login-button {
  padding: 10px 50px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.875rem;
  transition: all 0.15s ease-in-out;
  color: #3a3a3a;
  background-color: $orange;
  outline: none;
  width: 210px;
  height: 42px;
}

.login-links-container {
  padding-top: 30px;
}

.login-link {
  color: $white;
  font-size: 1em;
  display: block;
  text-align: center;
  padding: 10px 0 10px 0;

  :visited {
    color: $white;
  }
}

.login-title {
  text-align: left;
  color: $white;
}

#message-text {
  color: white;
  font-size: 18px;
}
