@import '../../styles/colors.scss';

.group-suggestions {
  background-color: $background-gray;
  border-bottom: 2px solid $orange;
  padding: 50px 30px 30px 30px;
}

.group-suggestion-boxes {
  margin: 10px 0px;
}
