@import '../../styles/colors.scss';

.groups-wrapper {
  overflow-y: auto;
  text-align: center;
}

.groups-header {
  padding: 0 30px;
}

.groups-boxes {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.groups-tutorial-btn {
  background-color: transparent;
  border: none; 
  position: absolute;
  right: 150px;
  bottom: 15px;
}