@import '../../styles/colors.scss';

.groups-wrapper {
  overflow-y: auto;
  text-align: center;
  position: relative;
}

.groups-header {
  padding: 0 30px;
}

.groups-boxes {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.groups-tutorial-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 30px;
  bottom: 20px;
}
