.groups-wrapper {
  overflow-y: auto;
  /*height: 60vh;*/
  height: calc(100vh - 242px);
}

.groups-header {
  padding: 0 30px;
}

.groups-boxes {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
