@import '../../../styles/colors.scss';

.image {
  align-self: center;
  position: relative;
}

.image-preview-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  height: 100vh;
}

.image-preview-form {
  align-self: center;
  width: 100%;
}

.image-preview-close-modal-button {
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 4px 10px;
  font-size: 1.2em;
  position: absolute;
  top: -35px;
  right: -2%;
}

.image-preview-user-input-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.image-preview-user-input-text-field {
  border: 1px solid $black;
  border-radius: 15px;
  margin: 0 5px;
  padding: 10px;
  min-width: 80%;
}

.preview-image {
  margin: 5px auto;
}

.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-and-rotate-90 {
  -moz-transform: rotate(90deg) scaleX(-1);
  -webkit-transform: rotate(90deg) scaleX(-1);
  -o-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.flip-and-rotate-180 {
  -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
} 

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.flip-and-rotate-270 {
  -moz-transform: rotate(270deg) scaleX(-1);
  -webkit-transform: rotate(270deg) scaleX(-1);
  -o-transform: rotate(270deg) scaleX(-1);
  transform: rotate(270deg) scaleX(-1);
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg)
}