@import '../../../styles/colors.scss';

.image {
  align-self: center;
  position: relative;
}

.image-preview-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  height: 100vh;
}

.image-preview-form {
  align-self: center;
  width: 100%;
}

.image-preview-close-modal-button {
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 4px 10px;
  font-size: 1.2em;
  position: absolute;
  top: -20px;
  right: -2%;
}

.image-preview-user-input-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.image-preview-user-input-text-field {
  border: 1px solid $black;
  border-radius: 15px;
  margin: 0 5px;
  padding: 10px;
  min-width: 80%;
}

.preview-image {
  margin: 15px auto;
}