@import '../../../../styles/colors.scss';

.chat-message-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row-reverse wrap;
  flex-shrink: 0;
}

.wrapper-received {
  justify-content: flex-end;
}

.wrapper-sent {
  justify-content: flex-start;
}

.wrapper-system {
  display: none;
}

.chat-message-content {
  display: flex;
  word-wrap: break-word;
  flex-flow: column nowrap;
  padding: 8px 20px;
  border-radius: 20px 20px 20px 0px;
  border: 1px solid $gray;
  background-color: $beige;
  width: max-content;
  max-width: 60vw;
  @media screen and (min-width: 960px) {
    max-width: 700px;
  }
}

.chat-message-timestamp {
  align-self: flex-end;
  margin-bottom: 4px;
  margin-left: 2px;
  width: 33px;
  height: 15px;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: -0.14px;
  color: #666464;
}

.message-content-field {
  display: flex;
  flex-flow: row nowrap;
}

.chat-message-content-field {
  display: flex;
  justify-content: flex-end;
}

.chat-message-header-content {
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: 0 10px;
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;
}

.message-without-header-content {
  margin-top: 0.3em;
}

.show-date-content {
  display: flex;
  justify-content: space-between;
  margin: 34.5px -15px 24.5px;
}

.date-divider {
  width: 40%;
  height: 1px;
  background: #1c1c1c;
  margin: 10px 2px;
  display: inline-block;
}

.date-divider-text {
  margin: 0 15px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #1a1a1a;
}

.content-sent {
  border-radius: 20px 20px 0px 20px;
  background-color: $orange;
  border: 1px solid $gray;
}

.message-icon-and-content {
  display: flex;
}

.message-icon-and-content-sent {
  display: flex;
  justify-content: flex-end;
}

.content-system-combined {
  background-color: white;
  color: gray;
  border: none;
  width: 100%;
}

.chat-online-status-icon {
  position: relative; 
  bottom: 8px;
  left: 18px;
  background-color: green;
  border: 1px solid $white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 7px;
}

.chat-offline-status-icon {
  position: relative; 
  bottom: 8px;
  left: 18px;
  border: 1px solid $white;
  background-color: grey;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 7px;
}

.chat-away-status-icon {
  position: relative; 
  bottom: 8px;
  left: 18px;
  background-color: yellow;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 7px;
}


.chat-message-sender {
  margin-block-end: 0em;
  margin-block-start: 0em;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: #1a1a1a;
  margin: 0 5px 4px 0;
}

.chat-message-sender-unknown {
  color: #9b9b9b;
  font-size: 16px;
}

.chat-message-sender-icon {
  height: 30px;
  width: 30px;
  align-self: flex-end;
  padding: 4px 8px;
  margin-right: 8px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.chat-message-content-text {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.image-message-content-text {
  margin-top: 0.5em;
}

.message-image {
  height: inherit;
  width: inherit;
}
