@import '../../../../styles/colors.scss';

.chat-message-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row-reverse wrap;
  flex-shrink: 0;
}

.wrapper-received {
  justify-content: flex-end;
}

.wrapper-sent {
  justify-content: flex-start;
}

.wrapper-system {
  display: none;
}

.chat-message-content {
  display: flex;
  word-wrap: break-word;
  flex-flow: column nowrap;
  padding: 17px 20px;
  border-radius: 20px 20px 20px 0px;
  border: 1px solid $gray;
  background-color: $beige;
  width: max-content;
  max-width: 60vw;
  //margin-top: 10px;
}

.chat-message-timestamp {
  align-self: flex-end;
  margin-bottom: 4px;
  width: 33px;
  height: 15px;
  font-family: Silka;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #9b9b9b;
}

.message-content-text {
  display: flex;
  flex-flow: row nowrap;
}

.message-header-content {
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: 0 10px;
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;
}

.content-sent {
  border-radius: 20px 20px 0px 20px;
  background-color: $orange;
  border: none;
  justify-content: flex-end;
}

.content-system-combined {
  background-color: white;
  color: gray;
  border: none;
}

.chat-message-content-header {
  margin-block-end: 0.3em;
  margin-block-start: 0em;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.chat-message-sender-icon {
  align-self: flex-end;
  padding: 4px 8px;
  margin-right: 8px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.chat-darkblue-icon {
  background-color: $darkblue;
}

.chat-orange-icon {
  background-color: $orange;
}

.chat-maroon-icon {
  background-color: $maroon;
}

.chat-beige-icon {
  background-color: $beige;
}

.chat-green-icon {
  background-color: $green;
}

.chat-message-content-text {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
