.accept-rules-modal-button {
  margin: 1em;
}

.accept-rules-icon-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 0;
  margin: 10px;
}

.service-info-header {
  margin-top: 0px;
  font-size: 1.5em;
  text-align: left;
  @media (max-width: 375px){
    font-size: 1.2em;
  }
}

.service-info-list {
  padding-left: 0;
  list-style-type: none;
}

.service-info-list-item {
  font-family: 'Lato', sans-serif;
}

.service-info-content {
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.uppercase-text {
  text-transform: uppercase;
}