@import '../../styles/colors.scss';

.accept-rules-modal-button {
  margin: 2em auto;
}

.accept-rules-icon-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 0;
  margin: 10px;
}

.bold-text {
  font-weight: bold;
  text-align: left;
}

.link-outside-service {
  color: $black;
  font-weight: bold;
}

.list-item-content {
  padding-left: -20px;
}

.service-info-header {
  margin-top: 0px;
  font-size: 28px;
  text-align: left;
  @media (max-width: 375px){
    font-size: 1.4em;
  }
}

.service-info-list {
  padding: 0px;
  margin: 0;
  list-style-position: inside;
}

.service-info-list-item {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  list-style-type: disc;
}

.service-info-content {
  text-align: left;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
}

ul {
 list-style-type: disc;
}

.uppercase-text {
  text-transform: uppercase;
}