@import '../../styles/colors.scss';


.create-account-container {
  background-color: $black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.create-account-text {
    color: #fff;
}

.create-account-content-container {
  width: 80%;

}

.create-account-input-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-input-text {
  display: flex;
  flex-direction: column;
  color: $white;
  margin: 0 0 20px 0;
  width: 100%;
}

.create-account-input-field {
  margin-top: 5px;
  background: transparent;
  border: solid 1px $orange;
  border-radius: 25px;
  padding: 10px 0 10px 10px;
  color: $white;
  &::placeholder {
    color: $white;
  }

  &:focus {
    outline: none;
    border: solid 1px $white;
  }
}

.create-account-button {
  padding: 10px 50px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.875rem;
  transition: all 0.15s ease-in-out;
  color: #3a3a3a;
  background-color: $orange;
  outline: none;
  width: 210px;
  height: 42px;
}

%create-account-link-shared {
  color: $white;
  font-size: 15px;

  :visited {
    color: $white;
  }
}

.create-account-link {
    @extend %create-account-link-shared;
}

.create-account-link-block {
    @extend %create-account-link-shared;
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
}

.create-account-links-container {
    padding-top: 30px;
}

.create-account-title {
  text-align: left;
  color: $white;
}

.divider {
    border: 0.5px solid $orange;
}