@import '../../styles/colors.scss';

.accept-rules-link {
  font: 1.2em Verdana, sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  text-transform: none;
  margin-bottom: 1em;
}

.close-modal-button {
  width: 1,2em;
  height:  1,2em;
  border: 1px solid black;
  border-radius: 50%;
}

.create-account-container {
  background-color: $black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.create-account-text {
    color: #fff;
}

.create-account-content-container {
  width: 80%;

}

.create-account-input-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-input-text {
  display: flex;
  flex-direction: column;
  color: $white;
  margin: 0 0 20px 0;
  width: 100%;
}

.create-account-input-field {
  margin-top: 5px;
  background: transparent;
  border: solid 1px $orange;
  border-radius: 25px;
  padding: 10px 0 10px 10px;
  color: $white;
  &::placeholder {
    color: $white;
  }

  &:focus {
    outline: none;
    border: solid 1px $white;
  }
}

.create-account-errors-field {
  margin-top: 5px;
  background: transparent;
  border: solid 1px #ff5c69;
  border-radius: 25px;
  padding: 10px 0 10px 10px;
  color: $white;
  &::placeholder {
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

.create-account-button {
  padding: 10px 50px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.875rem;
  transition: all 0.15s ease-in-out;
  color: #3a3a3a;
  background-color: $orange;
  outline: none;
  width: 210px;
  height: 42px;
}

%create-account-link-shared {
  color: $white;
  font-size: 15px;

  :visited {
    color: $white;
  }
}

.create-account-link {
    @extend %create-account-link-shared;
}

.create-account-link-block {
    @extend %create-account-link-shared;
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
}

.create-account-links-container {
    padding-top: 30px;
}

.create-account-title {
  text-align: left;
  text-transform: uppercase;
  color: $white;
}

.error-text {
  color: #ff868f;
  font-size: 0.8em;
  margin: -15px 0 0;
  text-align: left;
}

.formfield-container {
  width: 100%;
  margin-bottom: 20px;
}

.info-circle-button {
  width: 2em;
  height: 2em;
  background-color: black;
  background-image: url('../../assets/info-circle-solid-orange.svg');
  border: none;
  margin-left: 15px;
  margin-top: 5px;
  align-self: center;
}

.info-circle-line {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}