@import '../../../styles/colors.scss';

.add-user-age-permission-container {
  margin: 10px;
}

.add-user-age-permission-text {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  width: 100%;
}

.add-user-age-permission-field {
  margin-top: 5px;
  background: transparent;
  border: solid 1px $black;
  padding: 10px 0 10px 10px;
  &::placeholder {
    color: $text-gray;
  }
}

.add-user-age-permission-title {
  font-weight: 500;
}
