@import '../../../styles/colors.scss';

.friend-box {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: none;
  background-color: white;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: stretch;
  text-align: left;
}

.friend-box-content {
  margin-left: 15%;
  padding: 15px 20px;
  border-bottom: 1px solid #9a9a9a;
  & h2 {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    color: $black;
  }
  & p {
    font-family: Lato;
    font-size:18px;
    color: $black;
  }
}

.friend-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.friend-box-unreads {
  border: 1px solid $orange;
}

.-num-members {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.friend-unreads-text {
  background-color: $orange;
  padding: 10px 0 10px 0;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

.no-unreads {
  font-size: 16px;
  border-top: 1px solid #9a9a9a;
  background-color: white;
  text-transform: none;
  font-weight: normal;
}

.group-logo {
  border-radius: 50%;
  padding: 15px 15px;
  height: 55px;
  width: 55px;
}

.unread-badge {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  padding-top: 5px;
  text-align: center;
  color: white;
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.2);
  background-color: $black;
  & p {
    font-family: Lato;
    font-size: 18px; 
    color: white;
    }
  }

