@import '../../../styles/colors.scss';

.friend-box {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: stretch;
  text-align: left;
}
.friend-icon {
  background-color: gray;
  padding: none;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  border-radius: 50%;
}
.friend-icon-box {
  text-align: right;
  width: 55px;
  padding:23px 15px;
  flex:0;
}
.friend-box-content {
  padding-top: 15px;
  display:flex;
  flex-flow: row nowrap;
  & h2 {
    font-weight: bold;
  }
}
.friend-text-content {
  padding-bottom: 15px;
  padding-left:10px;
  font-family: Lato;
  font-size:18px;
  color: $black;
  flex:10;
  border-bottom: 1px solid #9a9a9a;
}

.friend-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.unread-badge {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  padding-top: 5px;
  text-align: center;
  color: white;
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.2);
  background-color: $black;
  & p {
    font-family: Lato;
    font-size: 18px; 
    color: white;
    }
  }

