.group-boxes-member {
  display: flex;
  flex-direction: column;
  min-width: 55px;
  align-items: center;
  margin: 10px 10px 0 0;
  font-size: 15px;
}

.group-members-icon {
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
}

.group-boxes-member-icon-wrapper {
  margin-bottom: 8px;
}

.suggestion-box-nickname {
  max-width: 60px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}